body, html {
  height: 100%;
  width: 100%;
  }
body{
	overflow: hidden;
}

.card{
	opacity: 0.5;
	background-color: #FAFAFA;
	margin-top: 5px;
	position: relative;
	left:2px;
	top:2px;
	right: 2px;
	bottom:2px;
	box-shadow: 2px 2px 2px #888888;
	color:  #555;
	border-radius: 5px;
	border-color: #333;
	border: 1px;
	padding-top: 10px;
	width: 90%;
    padding-bottom: 20px;
    padding-left: 20px;
}

#title {
	position:relative;
	top:30%;
	text-align:center;
	font-family: "Century Gothic", sans-serif;
	font-size: 72px;
}

.start {
	height: 100%;
	width: 100%;
}

.main {
	height: 100%;
	width: 100%;
}

#arrow {
	position: absolute;
    border: none;
    left: 45%;
	top: 80%;
}
#Building{
	width: 50%;
	height: 30px;
}
#Floor{
	width: 30%;
	height: 30px;
}
#sidebar {
	float: right;
	font-family: "Century Gothic", sans-serif;
	height: 100%;
    position:absolute;
    width:300px;
    background:transparent;
    overflow:scroll;
    overflow-x:hidden;
    z-index:3;
}
::-webkit-scrollbar{
	width: 0px;
	background: transparent;
}
.card:hover{
	opacity: 0.9;
}
.gm-style-mtc {
  display: none;
}
#botmain{
	height: 95%;
	width: 100%;
	position:relative;
}
#map {
	float: right;
     height: 100%;
     width:100%;
     position:relative;
     float:right;
}
#search{
	height: 30px;
	box-shadow: 0px 0px 0px #888888;
	color: #666;

}
#searchtxt{
	width: 80%;
	height:30px;
	background-color: #FFF;
	box-shadow: 0px 0px 0px #888888;
	color: #666;
	background-color: #FAFAFA;
	margin-top: 5px;
	position: relative;
	left:2px;
	right: 2px;
	bottom:2px;
	box-shadow: 2px 2px 2px #888888;
	color:  #555;
	border-radius: 5px;
	border-color: #333;
	border: 1px;
}
#Option{
	width: 96%;
	height:30px;
	background-color: #FFF;
	box-shadow: 0px 0px 0px #888888;
	color: #666;
	background-color: #FAFAFA;
	margin-top: 15px;
	position: relative;
	left:2px;
	right: 2px;
	bottom:2px;
	box-shadow: 2px 2px 2px #888888;
	color:  #555;
	border-radius: 5px;
	border-color: #333;
	border: 1px;
}
#findroombutton{
	width: 15%;
	height:30px;
	margin-top: 5px;
	position: relative;
	left:2px;
	right: 2px;
	bottom:2px;
	box-shadow: 2px 2px 2px #888888;
	border-radius: 5px;
	border-color: #333;
	border: 1px;
}
#filter{
	width: 100%
}

input{
	color: white;
	background-color: #77C088;
	border-radius: 5px;
	border: 1px;
	box-shadow: 2px 2px 2px #888888;
	font-size:12px;
	width: 18%;
	height: 28px;
}