body, html {
  height: 100%;
  width: 100%;
}

#map {
    height: 100%;
    width: 100%;
}

#title {
	position:relative;
	top:30%;
	text-align:center;
	font-family: "Century Gothic", sans-serif;
	font-size: 72px;
}

.start {
	height: 100%;
	width: 100%;
}

.main {
	height: 100%;
	width: 100%;
}

#arrow {
	position: absolute;
    border: none;
    left: 45%;
	top: 80%;
}
#Building{
	width: 50%;
	height: 30px;
}
#Floor{
	width: 30%;
	height: 30px;
}
input{
	color: white;
	background-color: #77C088;
	border-radius: 5px;
	border: 1px;
	box-shadow: 2px 2px 2px #888888;
	font-size:12px;
	width: 18%;
	height: 28px;
}