body, html {
  height: 100%;
  width: 100%;
  }
body{
	overflow: hidden;
}

.card{
	opacity: 0.5;
	background-color: #FAFAFA;
	margin-top: 5px;
	position: relative;
	left:2px;
	top:2px;
	right: 2px;
	bottom:2px;
	box-shadow: 2px 2px 2px #888888;
	color:  #555;
	border-radius: 5px;
	border-color: #333;
	border: 1px;
	padding-top: 10px;
	width: 96%;
    padding-bottom: 20px;
    padding-left: 20px;
}

#title {
	position:relative;
	top:30%;
	text-align:center;
	font-family: "Century Gothic", sans-serif;
	font-size: 72px;
}

.start {
	height: 100%;
	width: 100%;
}

.main {
	height: 100%;
	width: 100%;
}

#arrow {
	position: absolute;
    border: none;
    left: 45%;
	top: 80%;
}
#Building, #Floor{
	width: 96%;
	height: 30px;
	box-shadow: 0px 0px 0px #888888;
	margin-bottom: 10px;
	position: relative;
	left:2px;
	right: 2px;
	bottom:2px;
	box-shadow: 2px 2px 2px #888888;
	border-radius: 5px;
	border-color: #333;
	border: 1px;
}
#startNavi{
	width: 96%;
	height: 30px;
	margin-bottom: 10px;
	color: #F8F8F8;
}
#sidebar {
	float: right;
	font-family: "Century Gothic", sans-serif;
	height: 100%;
    position:absolute;
    width:19%;
    background:transparent;
    overflow:scroll;
    overflow-x:hidden;
    z-index:3;
}
::-webkit-scrollbar{
	width: 0px;
	background: transparent;
}
.card:hover{
	opacity: 0.9;
}
.gm-style-mtc {
  display: none;
}
#botmain{
	height: 100%;
	width: 100%;
	position:relative;
}
#map {
	float: right;
     height: 100%;
     width:100%;
     position:relative;
     float:right;
}
#search{
	height: 30px;
	box-shadow: 0px 0px 0px #888888;
	color: #666;
	position:relative;
	bottom: 2px;
}

#searchtxt{
	width: 80%;
	height:30px;
	background-color: #FFF;
	box-shadow: 0px 0px 0px #888888;
	color: #666;
	background-color: #FAFAFA;
	margin-top: 5px;
	position: relative;
	left:2px;
	right: 2px;
	bottom:2px;
	box-shadow: 2px 2px 2px #888888;
	color:  #555;
	border-radius: 5px;
	border-color: #333;
	border: 1px;
}
#Option{
	width: 96%;
	height:30px;
	background-color: #FFF;
	box-shadow: 0px 0px 0px #888888;
	color: #666;
	background-color: #FAFAFA;
	margin-top: 15px;
	position: relative;
	left:2px;
	right: 2px;
	bottom:2px;
	box-shadow: 2px 2px 2px #888888;
	color:  #555;
	border-radius: 5px;
	border-color: #333;
	border: 1px;
}
#findroombutton{
	width: 15%;
	height:30px;
	margin-top: 5px;
	position: relative;
	left:2px;
	right: 2px;
	bottom:2px;
	box-shadow: 2px 2px 2px #888888;
	border-radius: 5px;
	border-color: #333;
	border: 1px;
	color: #F8F8F8;
}
#available{
	font-size:12px;
  width: 96%;
  height: 30px;
  margin-top: 15px;
  position: relative;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background-color: #daecde;
  box-shadow: 2px 2px 2px #888888;
  color: #555;
  border-radius: 5px;
  border-color: #333;
  border: 1px;
  text-align: center;
}
#filter{
	width:96%;
	float: left;
	left: 2px;
    position:relative;
    background:transparent;
    z-index:3;
}
#calendar {
	max-width: 900px;
	margin: 0 auto;
}
#tt {
  position: absolute;
}
.tooltip > .tooltip-inner {
	color: #F8F8F8;
	background-color: #555555;
}
.tooltip .tooltip-arrow {
	border-top: 5px solid #555555 !important;
}

input{
	font-size:12px;
	box-shadow: 0px 0px 0px #888888;
	background-color: #77C088;
	margin-top: 5px;
	position: relative;
	left:2px;
	right: 2px;
	bottom:2px;
	box-shadow: 2px 2px 2px #888888;
	color: white;
	border-radius: 5px;
	border-color: #333;
	border: 1px;
}